#chat-log {
    display: flex;
    flex-direction: column;

    > .message {
        &.emote {
            p {
                font-style: italic;
            }
        }
        &:first-child {
            margin-top: auto;
        }
    }
}

@import "action", "conditions", "damage", "reroll", "checks";
