<form class="npc-sheet" autocomplete="off">
    <div class="side-bar">
        {{> "systems/pf2e/templates/actors/npc/partials/sidebar.html"}}
    </div>
    <div class="npc-body">
        {{> "systems/pf2e/templates/actors/npc/partials/header.html"}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="main">{{localize "PF2E.NPC.MainTab"}}</a>
            <a class="item" data-tab="inventory">{{localize "PF2E.NPC.InventoryTab"}}</a>
            <a class="item" data-tab="spells">{{localize "PF2E.NPC.SpellsTab"}}</a>
            <a class="item" data-tab="effects">{{localize "PF2E.NPC.EffectsTab"}}</a>
            <a class="item" data-tab="notes">{{localize "PF2E.NPC.NotesTab"}}</a>
        </nav>
        <section class="sheet-body">
            {{> "systems/pf2e/templates/actors/npc/tabs/main.html"}}
            {{> "systems/pf2e/templates/actors/npc/tabs/inventory.html"}}
            {{> "systems/pf2e/templates/actors/npc/tabs/spells.html"}}
            {{> "systems/pf2e/templates/actors/npc/tabs/effects.html"}}
            {{> "systems/pf2e/templates/actors/npc/tabs/notes.html"}}
        </section>
    </div>
</form>
