.sheet-navigation {
    min-width: 375px;
}

aside .sidebar {

    .sidebar_title {
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .data-value input[type=number],
    .save-roll input[type=number] {
        font-size: 32px;
        height: 32px;
        color: white;
    }
    .data-value:hover input[type=number],
    .save-roll:hover input[type=number],
    .data-value:hover h2  {
        text-shadow: 0 0 4px var(--tertiary);
    }
    .max-hp .data-value input {
        font-size: 26px;
        height: 26px;
    }
    .save-roll input[type=number] {
        width: 3ch;
        text-align: center;
        padding: 0;
        font-size: 20px;
        height: 24px;
    }
    ul.sidebar-saves h2.save-label {
        letter-spacing: 0.25px;
        white-space: nowrap;
    }

    .sidebar-saves .roll-data {
        grid-column: 2;
    }

    .hitpoints .container,
    li.roll-data {
        min-width: 0;
        display: grid;
    }
    .armor-class {
        grid: "ac hardness" 1fr;
        .hardness {
            background: url(../assets/sheet/shield-red.webp) no-repeat top center;
        }
    }
}

header.char-header {
    .char-details {
        font-size: 13px;
        font-weight: normal;
    }
}

.sheet-content {
    .details {
        input {
            text-transform: none;
        }
        .vehicle-details {
            display: grid;
            grid: "img details" 150px/120px 1fr;
            min-width: 330px;

            .frame {
                margin-left: 5px;

                .actor-image {
                    margin-top: 8px;
                    max-height: 90%;
                    object-fit: contain;
                    border-radius: 0;
                    cursor: pointer;
                    border: none;
                    box-shadow: 0 0 0 1px #918c88, 0 0 0 2px #e1d8cf, 0 0 0 3px #a98f39, inset 0 0 8px rgba(0, 0, 0, 0.5), 0 0 8px black;
                }
            }

            .detail-sheet {
                display: grid;
                grid: repeat(3,42px) / 3fr 2fr;
                grid-row-gap: 8px;
                padding-left: 12px;
            }

            .detail-small {
                display: flex;
            }
        }

        .vehicle-properties {
            display: flex;
            flex-wrap: wrap;
            padding-top: 8px;
        }
        .vehicle-properties > div {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 8px;
        }
        .vehicle-properties > div > span {
            width: 100%;
        }

        .detailsInput {
            margin-bottom: 8px;
        }
    }

    .inventory {
        padding-bottom: 5px;
    }
    .inventory,
    .inventory .inventory-list {
        height: 100%;
    }
    .inventory .item-controls a.item-toggle-equip,
    .inventory .item-controls a.item-toggle-invest {
        display: none;
    }
    .inventory .item-controls {
        flex: 0 0 55px;
        justify-content: flex-end;
    }
    .inventory ol:last-child {
        margin-bottom: 0px;
    }
}

// Grid-positions
.row-nr-1 { grid-row: 1/2; }
.row-nr-2 { grid-row: 2/3; }
.row-nr-3 { grid-row: 3/4; }
.span-2-columns { grid-column-end: span 2; }

// Flex-positions
.flexitem-1 {
    flex: 1 1 10%
}
.flexitem-5 {
    flex: 5 1 50%
}
.flexitem-full {
    flex: 100%
}
